[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
# Mobile build files
*.apk
*.aab
*.ipa

# iOS build folder
*.xcworkspace
*.xcodeproj

# Unity build output (추가 추천)
Build/
Builds/

Assets/90.Downloads/